<!-- /contents/page.hbs -->
<!DOCTYPE html>
<html>
<head>
  <script src="assets/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="assets/ion-polymer-elements/ion-colour-palette.html" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/monokai-sublime.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/styleguide.css" />
</head>
<body>
  <header class="row">
    <h1 class="text-center"> Style Guide </h1>
  </header>
  <div class="row">
    {{{ contents }}}
  </div>
</body>
</html>
